---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import DoubleClick from "../components/DoubleClick";
import BackgroundChanger from "../components/BackgroundChanger";
---

<Layout title="Welcome to Astro.">
  <div class="top">
    <DoubleClick client:load />
  </div>

  <BackgroundChanger client:load />

  <div class="box">
    <div class="card_box">
      <div class="card">
        <a href="https://www.1sgroup.co.jp/" target="_blank">
          <img src="img/ishityan.jpg" alt="石井ちゃん画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://vk.sportsbull.jp/koshien/miyagi/news/TKY200508090105.html"
          target="_blank"
        >
          <img src="img/syouta.jpg" alt="しょーちゃん野球画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a href="https://dio-s.com/knt/report/040105/01.html" target="_blank">
          <img src="img/mine.jpg" alt="みね空手画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://tabelog.com/tokyo/A1317/A131715/13169953"
          target="_blank"
        >
          <img src="img/mori.jpg" alt="森太郎氏の画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>
    </div>
  </div>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background: gainsboro;
    }

    .top {
      width: 100%;
      height: 180px;
      background: rgb(52, 52, 160);
      padding: 40px;
    }

    h1 {
      color: white;
      font-weight: bold;
      font-size: 40px;
      width: 1200px;
      margin: 40px auto;
    }

    .arata_photo {
      width: 1200px;
      height: 660px;
      background: url(img/arata.jpg) no-repeat center/cover;
      margin: 50px auto;
      border-radius: 10px;
    }

    .box {
      width: 1200px;
      margin: 50px auto;
      background: white;
      border-radius: 10px;
    }

    .card_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      justify-content: center;
      padding: 50px;
      margin: 0 auto;
      max-width: 1000px;
    }

    .card {
      width: 100%;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border: solid 1px;
    }

    .card p {
      margin: 10px 0;
      line-height: 1.7;
    }
  </style>
</Layout>
