---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import DoubleClick from "../components/DoubleClick";
import BackgroundChanger from "../components/BackgroundChanger";
---

<Layout title="Welcome to Astro.">
  <!-- トップテキスト部分 -->
  <div class="top">
    <DoubleClick client:load />
  </div>

  <!-- あらた画像部分 -->
  <BackgroundChanger client:load />

  <!-- 四つの写真・リンク部分 -->
  <div class="box">
    <div class="card_box">
      <div class="card">
        <a href="https://www.1sgroup.co.jp/" target="_blank">
          <img src="img/ishityan.jpg" alt="石井ちゃん画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://vk.sportsbull.jp/koshien/miyagi/news/TKY200508090105.html"
          target="_blank"
        >
          <img src="img/syouta.jpg" alt="しょーちゃん野球画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a href="https://dio-s.com/knt/report/040105/01.html" target="_blank">
          <img src="img/mine.jpg" alt="みね空手画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://tabelog.com/tokyo/A1317/A131715/13169953"
          target="_blank"
        >
          <img src="img/mori.jpg" alt="森太郎氏の画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>
    </div>
  </div>

  <!-- インフォメーション部分 -->
  <div class="information">
    <h2>INFORMATION</h2>
    <ul>
      <li>
        <h3>お知らせ</h3>
        <p>
          【重要】日常英会話コースリニューアルに伴う、『スタディサプリENGLISH
          日常英会話コース（旧アプリ）』終了のお知らせ
        </p>
      </li>
      <li>
        <h3>お知らせ</h3>
        <p>年末年始期間中の対応について</p>
      </li>
      <li>
        <h3>お知らせ</h3>
        <p>スタディサプリ10周年記念！特設サイト公開中</p>
      </li>
      <li>
        <h3>お知らせ</h3>
        <p>【重要】有料会員権利付与漏れのお詫びとご返金のお知らせ</p>
      </li>
    </ul>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background: gainsboro;
    }

    /* トップテキスト部分のスタイル */
    .top {
      width: 100%;
      height: 180px;
      background: rgb(52, 52, 160);
      padding: 40px;
    }

    /* 四つの写真・リンク部分のスタイル */
    .box {
      width: 1200px;
      margin: 50px auto;
      background: white;
      border-radius: 10px;
    }

    .card_box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      justify-content: center;
      padding: 50px;
      margin: 0 auto;
      max-width: 1000px;
    }

    .card {
      width: 100%;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border: solid 1px;
    }

    .card p {
      margin: 10px 0;
      line-height: 1.7;
    }

    /* INFORMATIONのスタイル */
    .information {
      width: 100%;
      background-color: blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      color: white;
    }

    h2 {
      text-align: center;
    }

    /* グリッドレイアウトの設定 */
    ul {
      display: grid;
      width: 100%;
      max-width: 800px;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      border-top: 1px solid;
    }

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid;
      padding: 10px;
      height: 100%;
    }

    h3 {
      flex-basis: 180px;
      background: #13a6e5;
      text-align: center;
      margin: 10px;
      padding: 8px;
    }

    p {
      margin: 0;
      flex: 1; /* 残りのスペースを p 要素が占めるようにする */
      text-decoration: underline;
    }
  </style>
</Layout>
