---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import DoubleClick from "../components/DoubleClick";
import BackgroundChanger from "../components/BackgroundChanger";
---

<Layout title="Welcome to Astro.">
  <!-- トップテキスト部分 -->
  <div class="top">
    <DoubleClick client:load />
  </div>

  <!-- あらた画像部分 -->
  <BackgroundChanger client:load />

  <!-- 四つの写真・リンク部分 -->
  <div class="box">
    <div class="card_box">
      <div class="card">
        <a href="https://www.1sgroup.co.jp/" target="_blank">
          <img src="img/ishityan.jpg" alt="石井ちゃん画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://vk.sportsbull.jp/koshien/miyagi/news/TKY200508090105.html"
          target="_blank"
        >
          <img src="img/syouta.jpg" alt="しょーちゃん野球画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a href="https://dio-s.com/knt/report/040105/01.html" target="_blank">
          <img src="img/mine.jpg" alt="みね空手画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（個人の方・団体会員の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>

      <div class="card">
        <a
          href="https://tabelog.com/tokyo/A1317/A131715/13169953"
          target="_blank"
        >
          <img src="img/mori.jpg" alt="森太郎氏の画像" />
        </a>
        <p>
          スタディサプリ
          ENGLISHのサービス（企業の方・学校法人の方）に関するお問い合わせ・ご意見については、こちらをご確認ください。
        </p>
      </div>
    </div>
  </div>

  <!-- インフォメーション部分 -->
  <div class="information">
    <h2>INFORMATION</h2>
    <ul>
      <li>
        <a href="https://example.com/1">
          <!-- 1つ目のお知らせのリンク先URL -->
          <h3>お知らせ</h3>
          <p>
            【重要】日常英会話コースリニューアルに伴う、『スタディサプリENGLISH
            日常英会話コース（旧アプリ）』終了のお知らせ
          </p>
        </a>
      </li>
      <li>
        <a href="https://example.com/2">
          <!-- 2つ目のお知らせのリンク先URL -->
          <h3>お知らせ</h3>
          <p>年末年始期間中の対応について</p>
        </a>
      </li>
      <li>
        <a href="https://example.com/3">
          <!-- 3つ目のお知らせのリンク先URL -->
          <h3>お知らせ</h3>
          <p>スタディサプリ10周年記念！特設サイト公開中</p>
        </a>
      </li>
      <li>
        <a href="https://example.com/4">
          <!-- 4つ目のお知らせのリンク先URL -->
          <h3>お知らせ</h3>
          <p>【重要】有料会員権利付与漏れのお詫びとご返金のお知らせ</p>
        </a>
      </li>
    </ul>
  </div>

  <style>
    @import "../styles/styles.css";
  </style>
</Layout>
