---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page 1">
  <header class="header">
    <h1>
      【重要】日常英会話コースリニューアルに伴う、『スタディサプリENGLISH
      日常英会話コース（旧アプリ）』終了のお知らせ
    </h1>
  </header>

  <div class="text-section">
    <div class="text-box1">
      <p class="text-1">
        日頃よりスタディサプリENGLISHをご利用いただきまして、誠にありがとうございます。<br
        />
         スタディサプリENGLISHが提供する日常英会話のコースは、2019年11月に『日常英会話コース（旧アプリ）』から『新日常英会話コース（新アプリ）』にリニューアルをしています。<br
        />
         そのため、『日常英会話コース（旧アプリ）』はサービス終了に向け、2023年10月以降、順次ご契約の終了またはご利用権限を停止させていただく予定であることを2023年1月に告知しておりました。<br
        />
      </p>

      <p class="text-2">
        この度、告知の通り『日常英会話コース（旧アプリ）』は、2023年10月以降、順次ご契約の終了またはご利用権限の停止を実施することが決定いたしましたので、お知らせいたします。サービス終了日は2024年9月末日を予定しております。<br
        />
         サービス開始から多くのお客様にご愛顧いただきましたことを心より御礼申し上げます。<br
        />
         今後、日常英会話学習を目的とされるお客様には、是非『新日常英会話コース（新アプリ）』をご利用いただけますと幸いです。
      </p>

      <p class="text-3">
        なお、『日常英会話コース（旧アプリ）』のコンテンツを一部リニューアルし、<br
        />
         『新日常英会話コース（新アプリ）』を含む、他コース内の学習コンテンツとして追加する形で提供をしております。<br
        />
         各コースへ移管された機能の詳細につきましては、別途配信させていただいております、アプリ内の「日常英会話の学習コンテンツ追加について」というタイトルのお知らせをご確認ください。
      </p>

      <h2>提供終了サービス</h2>
      <p class="text-4">スタディサプリENGLISH 日常英会話コース（旧アプリ）</p>
      <h2>サービス終了に伴うお客様への影響</h2>
      <h3>＜クレジットカード決済でご契約のお客様＞</h3>

      <p class="text-5">
        ①『日常英会話コース（旧アプリ）』を単品販売にてお申し込みいただいたお客様<br
        />
         ：下記タイミングで『日常英会話コース（旧アプリ）』の自動更新停止処理を実施させていただきます。自動更新停止処理後も、当該契約終了日までは引き続きご利用いただけます。<br
        />
         └12か月パック：2023年10月以降のお客様ごとの契約更新日の約40日前より順次<br
        />
         └月額パック：2024年9月のお客様ごとの契約更新日の約20日前より順次<br />
      </p>

      <p class="text-6">
        ②『日常英会話コース（旧アプリ）』を他コースとのセット販売にてお申し込みいただいたお客様<br
        />
         ：下記タイミングで『日常英会話コース（旧アプリ）』のご利用権限のみ停止されます。ご契約のコースは、自動更新の停止をしない限り引き続きご利用いただけます。<br
        />
         └12か月パック：2023年10月以降のお客様ごとの契約更新日<br />
         └6か月パック：2024年4月以降のお客様ごとの契約更新日<br />
         └月額パック：2024年9月のお客様ごとの契約更新日
      </p>

      <p class="text-7">
        ※注意事項<br />
         自動更新停止処理に伴い、以下のメールが配信されます。こちらのメールで、当該契約終了日が確認できます。<br
        />
         件名：「自動更新停止手続き完了のお知らせ - スタディサプリ ENGLISH」
      </p>
    </div>
  </div>
  
  <div class="link-container">
    <a href="/">Back to Home</a>
  </div>

  <style>
    @import "../styles/page.css";
  </style>
</Layout>
